<div class="jumbotron animated zoomIn" id="assessments">
<% if @assessments.blank? %>
  <h2>You don't have any assessments yet.</h2>
  <div align="center"><%= link_to "Start here", assessments_path(:user_id => @user), class: "btn btn-primary" %></div>
  <% else %>
  
  <div class="table-content"><br/>
    <% @assessments.each do |assessment| %>
        <div align="center">
        <div class="zoom" align="center"><%= link_to assessment.title, assessment_path(assessment) %></div><br/>
        </div>
        <% end %> 
        </div><br/>
        <div align="right">
        <%= link_to "Make a new assessment", assessments_path(:user_id => @user), class: "btn btn-primary" %>
        </div>
<% end %>
</div>
