<h1>Edit Questions</h1>

<textarea rows="4" cols="50">
Retell the story in sequential order
</textarea>

<textarea rows="4" cols="50">
What details are the most important?
</textarea>

<textarea rows="4" cols="50">
How do you know what the moral to the story is?
</textarea>

<textarea rows="4" cols="50">
How does the author convey the central message (lesson or moral)?
</textarea>

<textarea rows="4" cols="50">
What order was the story written?
</textarea>

<textarea rows="4" cols="50">
Explain how the author uses details to convey the message (lesson or moral) of  the story.
</textarea>

 <h2> <p><%= link_to "Save and review", 'review_path', class: "btn btn-large btn-primary" %></p>

