<h1>Select Text</h1>

<h2><select name="Text.author">
  <option value="">Over in the Meadow</option>
  <option value="1" selected="selected">A Boy, a Dog, and a Frog</option>
  <option value="2">Pancakes for Breakfast</option>
  <option value="3">A Story, A Story</option>
  <option value="4">Kitten's First Full Moon</option>
  <option value="5">My Five Senses</option>
  <option value="6">Truck</option>
  <option value="7">I Read Signs</option>
  <option value="8">What Do You Do With a Tail Like This?</option>  
  
</select></h2>

<p><center><%= link_to "Save and select questions", questions_path %></p></center>