<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @select.user.name %> would like you to see this lesson made with ShoobPhoto's lesson builder</h1>
    <%= @url_edit %><br/>
    <a href="shoobphoto.herokuapp.com">Sign up for free</a>
  </body>
</html>