<div class="animated wobble">
<%= link_to "",  select_strategies_xstrategy_path(xstrategy, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-unchecked" %>
</div>