<h1>Listing xstrategies</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @xstrategies.each do |xstrategy| %>
  <tr>
    <td><%= link_to 'Show', xstrategy %></td>
    <td><%= link_to 'Edit', edit_xstrategy_path(xstrategy) %></td>
    <td><%= link_to 'Destroy', xstrategy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Xstrategy', new_xstrategy_path %>
