<%= simple_form_for(@student, remote: true) do |f| %>

<div class="row">
<div class="col-md-3">
<div class="alert alert-warning" role="alert"><%= student.unique_identifier %></div>
</div>
<div class="col-md-9">
<div class="alert alert-info" role="alert"><%= f.input :name %></div>
</div>
</div>
<% end %>