<div class='animated fadeIn'>
<%= form_for @attachment, :html => {:multipart => true, :remote => true} do |f| %>
  <p>
  </p>
  <p>
  <span class="btn btn-default btn-file">

    <%= f.file_field :file %>

    </span>
  </p>
  <p><%= f.submit "Upload", class: "btn" %></p>
<% end %>
</div>

