<div class='animated fadeIn'>
<%= simple_form_for @attachment, :html => {:multipart => true, :remote => true} do |f| %>
  <p>
  <%= f.input :name, label: "What do you want to call this #{@attachment.file_type}?", :input_html => {:rows => 2} %>
  </p>
  <p>
  <span class="btn btn-default btn-file">

    <%= f.file_field :file %>

    </span>
  </p>
  <p><%= f.submit "Upload", class: "btn" %></p>
<% end %>
</div>

