<div id="sidebar">
</div>
<div id="panel">
<div id="accordion">
  <div class="list-group">
     <% @grade.each do |grade| %>
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= grade.number %>" class="list-group-item" id="subject">
          <%= grade.number %> 
        </a>
        </h4>
      <div id="collapse_<%= grade.number %>" class="panel-collapse collapse">
      
       
      <div id="accordion">
        <div class="list-group">
        <% @category.each do |category| %>
        <% if Book.where(:textcategory_id => category.id).includes(:grades).where(:grades => {:id => grade.id}).any? %>   
                          
            <%= link_to category.category, hide_books_path(:category => category.id, :grade => grade.id), remote: true, class: "list-group-item", id: "grade" %>
                
          <% end %>
          <% end %>


        </div>  
      </div>
    </div>
    <% end %>





  </div>


</div>
</div>

