<div id="sidebar">
</div>

<div id="panel">
<div id="accordion">
  <div class="list-group">
     <% @grade.each do |grade| %>
    <h4 class="panel-title">
          <div align="center"><%= link_to grade.name, grade_books_path(:grade => grade.id), remote: true, class: "list-group-item", id: "subject" %></div>
      
        </h4>


    <% end %>

  </div>


</div>
</div>

