<div id="sidebar">
</div>

<div id="panel">
<div id="accordion">
  <div class="list-group">
     <% @grade.each do |grade| %>
    <h4 class="panel-title">
          <%= link_to grade.number, grade_books_path(:grade => grade.id), remote: true, class: "list-group-item", id: "subject" %> 
      
        </h4>


    <% end %>

  </div>


</div>
</div>

