<div class="animated wobble">
<%= link_to "",  select_books_book_path(:book_id => book.id, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-unchecked" %>
</div>