<div id="main">
<div class="row">
  <div class="col-md-3">
  <div class="animated slideInLeft">
<%= render 'sidebar' %></div></div>
  <div class="col-md-9">
<div id="standards"></div><div id="search">
<div class="animated bounceInLeft">
<% if current_user.try(:admin) %>
<%= link_to "New Book", new_book_path, class: "btn btn-primary" %>
<% end %>
</div>
</div>
</div>
</div>
</div>

