<div class="row">
  <div class="col-md-3">
  <div class="animated slideInLeft">
<%= render 'sidebar' %></div></div>
  <div class="col-md-9">
<div id="standards"></div><div id="search">
<div class="animated bounceInLeft">
<center>
<div class="well" id="standards"><p>Select a text from the left to view content.</p>
</center>
</div>
</div>
</div>
</div>



<script type='text/javascript'>

// Shows progress bar when loading a page 
 $('body').show();
  NProgress.start();
  setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);


// Shows progress bar  when submitting form via ajax
$(document).ajaxStart(function() {
               NProgress.start();
              });
$(document).ajaxStop(function() {
               NProgress.done();
             });
</script> 
