<div class="animated wobble">
<%= link_to "",  select_skills_xskill_path(xskill, :select_id => @select.id), method: :put, remote: :true, :class => "btn btn-link glyphicon glyphicon-unchecked" %>
</div>