<h1>Listing xskills</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @xskills.each do |xskill| %>
  <tr>
    <td><%= link_to 'Show', xskill %></td>
    <td><%= link_to 'Edit', edit_xskill_path(xskill) %></td>
    <td><%= link_to 'Destroy', xskill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Xskill', new_xskill_path %>
