<fieldset class="item">
  <%= f.label :content %>
  <%= f.text_area :content, :style => "width:500px;" "height:50px;" %>

  <a href="#" class="remove">Remove Question</a>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>
</fieldset>
