                    <% Cstrategy.where(:select_id => @select).each do |cstrategy| %>
                        <ul type="disc">
                            <li>
                            <% if current_user == (@select.user) %>
                                    <font size="3" color="red"><%= cstrategy.standard_id %>: <%= best_in_place cstrategy, :content, :type => :textarea, :nil => "Click here to add content", :html_attrs => { :style => 'width:100%;' } %></font>
                                <% else %>
                                    <font size="3" color="red"><%= cstrategy.standard_id %>: <%= cstrategy.content %></font>
                                <% end %>
                            </li>
                        </ul>
                    <% end %>