<% if current_user == (@select.user) %>

<div id="navigation">
<%= link_to "Save as PDF", select_path(@select, format: "pdf"), class: "btn btn-warning" %>
</div>
<% else %>

<strong>Created by <%= link_to @select.user.name, @select.user %></strong>

<% end %>

