<% if signed_in? %>
<div class="animated fadeInDown">
<div class="panel panel-warning" id="lesson-setup">Lesson Setup</div>
<div class="progress" id="lesson-setup">
  <div class="progress-bar" style="width: 0%;"></div>
</div>
</div>
<%= simple_form_for(@select, :html => { :class => 'form-horizontal' }) do |f| %>

    <div class="animated bounceInLeft">
    <%= f.input :name, input_html: {style: 'width:100%;'}, label: "Lesson name:", autofocus: true %>
    </div>
            
  <div class="form-actions animated fadeInUp" align="right">

 <button type="submit" class="btn btn-primary" data-loading-text="Saving..">Save and Continue</button>
  </div>
<% end %>

	
	<% else %>
	<center>Please sign in before continuing.<br /><%= link_to "Sign in", signin_path, class: "btn btn-link" %>
		<% end %>


<script>
	$('button[data-loading-text]').click(function () {
    $(this).button('loading');
});
</script>
