<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
      <h3>Create a form for your lesson in your Drive</h3>
      <div align="center">
      Please continue through the Google site in order to create your form. This will create a new Form and Spreasheet in your Drive. <br /> Through our website, you will be able to share your form with your students and manage it through your portfolio.<br /> <br />

      <a href="<%= Webapp.first.url %>", class="btn btn-primary" target="_blank">Click here to create your form</a>
      <hr>
      <div align="center">
      <%= link_to "Click here to sync your Drive with our site once you're finished", post_script_select_path(@select), class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  </div>
  </div>
  

