<li>
<input type="button" onclick="printDiv('printableArea')" value="Print Text" class="btn btn-primary" id="builder" />
</li>
<li>
<%= link_to "Save Text as PDF", book_path(@book, format: "pdf"), class: "btn btn-primary", id: "builder" %>
</li>

