<% if current_user == @select.user %>

<div class="animated fadeInDown">
<div class="panel panel-warning" id="edit">Select Standard Resources</div>
</div>

<div class="progress animated fadeInRightBig" id="lesson-setup">
  <div class="progress-bar" style="width: 33%;"></div>
  <div class="progress-bar progress-bar-warning" id="lesson-setup" style="width: 33%;"></div>
  <div class="progress-bar progress-bar-info" id="edit" style="width: 34%;"></div>
</div>

<%= render 'selects/form' %>

<% else %>

<center>You do not have the rights to edit this lesson.</center>

<% end %>

