
<%= simple_form_for @select, :url => wizard_path(step, select_id: @select.id), :method => :put do |f| %>


<div align="center">
<div class="animated fadeInRight">
<span class="label label-info">
                   <span class="glyphicon glyphicon-pencil"></span> <a href="#" data-html="true" rel="tooltip" title="The text has a <br/> specific performance task" data-placement="left" id="tooltip2"> Performace task available </a></span>
                   &nbsp;
<span class="label label-primary">
                   <span class="glyphicon glyphicon-cloud-upload"></span> <a href="#" data-html="true" rel="tooltip" title="The text has additional<br/> resouces, including <br/> attached PDFs and videos" data-placement="top" id="tooltip3"> Additional resources available </a></span>
                   &nbsp;
                   <span class="label label-danger">
                   <span class="glyphicon glyphicon-book"></span> <a href="#" data-html="true" rel="tooltip" title="The text does not <br/> currently have any <br/> attached snippets" data-placement="right" id="tooltip"> No example text available </a>
                   </span>
                   </div>
                   </div>

                   <br />



<div class="animated fadeInUp">
<div class="row"> 

        <div class="col-md-4">
        <div class="verticaline">
            <div class="div-table-content">

                
                <% @select.grades.each do |grade| %>
                <% @select.sources.each do |source| %>
                <% @select.subjects.each do |subject| %>
                <% @ids = subject.textcategories.map{|textcategory| textcategory.id} %>
                <% (Book.where(:textcategory_id => @ids).includes(:grades).where(:grades => {:id => grade.id}).order("title ASC") & Book.where(:textcategory_id => @ids).includes(:sources).where(:sources => {:id => source.id}).order("title ASC")).each do |book| %>
                <div class="animated fadeInUpBig">
                  <div class="row">
  <div class="col-md-1">
                <%= check_box_tag "select[book_ids][]", book.id, @select.book_ids.include?(book.id), id: dom_id(book) %>
                </div>
  <div class="col-md-8">
                  
                    <i><%= link_to book.title, show2_books_path(:id => book.id), class: "list-group-item", remote: :true, id: "title" %></i>

                    
                    </div>

                     <div class="col-md-2">

                   <% unless book.assess_questions == nil || book.assess_questions == "" %>
                  <div id="inline">
                   <span class="glyphicon glyphicon-pencil" id="pencil"></span>&nbsp;
                </div>
                   <% end %>

                   <% if book.pdf? %>
                  <div id="inline">
                   <span class="glyphicon glyphicon-cloud-upload" id="upload"></span>&nbsp;
                   </div>
                   <% end %>

                    <% if book.example == nil || book.example == "" %>
                  <div id="inline">
                   <span class="glyphicon glyphicon-book" id="book-icon"></span>
                   </div>
                   <% end %>
                   </div>
                </div>
</div>
<% end %>
                <% end %><% end %><% end %>
             </div>
        </div>
</div>
        <div class="col-md-8" id="book-preview">
        <div class="div-table-content">
                <div id="book">
                  
                            Click on a book to see a preview
                  </div>
                  </div><br/>
<div class="row">
<div class="col-xs-6"></div>
  <div class="animated fadeInRight" id="inline">
  <div class="col-xs-3" align="right">
<div id="pdf"></div>
</div>
<div class="col-xs-2" align="right">
  <button type="submit" class="btn btn-primary" id="builder" data-loading-text="Saving.." id="text-select">Save and Continue</button></div>
</div>
</div>
        </div>
</div>




</div>



  <% end %>




