<div class="row">
	<div class="col-md-2">
	<%= render 'sidebar' %>
	</div>

	<div class="col-md-10">
<div id="standard-attributes" class="animated fadeInRightBig">
<%= render 'note_resources' %>
</div>

</div>
</div>