<% if signed_in? %>
<div class="animated fadeInDown">
<%= render 'sidebar' %>
</div><br/>

<div class="row">

	<div class="col-md-1">
	</div>

	<div class="col-md-10">


<%= render 'setup' %>
					
</div>
</div>

	
	<% else %>
	<center>Please sign in before continuing.<br /><%= link_to "Sign in", signin_path, class: "btn btn-link" %>
		<% end %>


<script>
	$('button[data-loading-text]').click(function () {
    $(this).button('loading');
});
</script>

