<%= render 'sidebar' %>
<br/>
<div class="row">

    <div class="col-md-12">
    <%= render 'text' %>
    </div>
    </div>


<script>
	$('button[data-loading-text]').click(function () {
    $(this).button('loading');
});
</script>
