// Place all the styles related to the attachments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#attachments.modal-body {
  overflow-y: auto;
}


#resources.modal-body {
height:90vh;
  overflow-y: auto;
}

#resources.modal-dialog {
  align:center;
  width:85%;
  height:1000px;
}

#resources.modal-dialog-center {
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
}

.gallery {
	height:100%;
	align:center;
	text-align:center;
}




