@import "flat-ui";

.panel-danger,
.panel-header {
color: #FFF;
background-color: #2F81D7;
border-color: #2F81D7;
 padding: 1px 1px;
 padding-bottom: 1px;
 text-align: center;
 font-size: 24px;
.panel-footer {
  
}
}


.thumbnails li {
    position: relative;
    overflow: hidden;
}

.input_field input { width: 1000; }

.thumbnail a p {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,0,0,.4);
  text-align: center;
  opacity: 0;
}


.thumbnail a:hover p span 
{
  position: absolute;
  top: 60%;
  margin-left: -40px;
  margin-top: 10px;
}

/* mixins, variables, etc. */



/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 0px;
  margin-bottom: 0px;

}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-size: 2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

$nprogress-color: #fff;
@import 'nprogress';
@import 'nprogress-bootstrap';





