// Place all the styles related to the lesson_steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lesson-setup.progress-bar-warning {
	background-color: #1CBC9A;
	
}

#edit.progress-bar-info {
	background-color: #ff8000;
	
}

#edit.panel-warning {
	background-color: #82b3e7;
	color: #FFF;
	padding-bottom: 0px;
	border-color: #82b3e7;
	font-size: 25px;
	text-align: center;
}

#standards.panel-warning {
	background-color: #ff8000;
	color: #FFF;
	padding-bottom: 0px;
	border-color: #ff8000;
	font-size: 25px;
	text-align: center;
}

#standard.col-md-2 {
	
	color: #FFF;
	background-color: #ff8000;
	padding-bottom: 0px;

	font-size: 20px;
}

#standard.col-md-10 {
	
	color: #FFF;
	background-color: #ff8000;
	padding-bottom: 0px;

	font-size: 20px;
}

#reading_1.col-md-10 {

    border-left: thick solid #6A6AFF;
    border-bottom: thick solid #6A6AFF;
}

#reading_1.col-md-2 {
	color: #FFF;
	background-color: #6A6AFF;
	border-left: thick solid #6A6AFF;

}

#reading2_1.col-md-2 {
	color: #FFF;
	border-left: thick solid #6A6AFF;

}

#reading_2.col-md-10 {

    border-left: thick solid #FFD1DC;
    border-bottom: thick solid #FFD1DC;
}

#reading_2.col-md-2 {
	color: #FFF;
	background-color: #FFD1DC;
	border-left: thick solid #FFD1DC;

}

#reading2_2.col-md-2 {
	color: #FFF;
	border-left: thick solid #FFD1DC;

}




#subject_5.col-md-10 {
	
    border-left: thick solid #FF4848;
    border-bottom: thick solid #FF4848;
}

#subject_5.col-md-2 {
	color: #FFF;
	background-color: #FF4848;
	border-left: thick solid #FF4848;

}

#subject2_5.col-md-2{
	color: #FFF;
	border-left: thick solid #FF4848;

}




#subject_6.col-md-10 {

    border-left: thick solid #01F33E;
    border-bottom: thick solid #01F33E;
}

#subject_6.col-md-2 {
	color: #FFF;
	background-color: #01F33E;
	border-left: thick solid #01F33E;

}

#subject2_6.col-md-2 {
	color: #FFF;
	border-left: thick solid #01F33E;

}

#subject_3.col-md-10 {

    border-left: thick solid #06DCFB;
    border-bottom: thick solid #06DCFB;
}

#subject_3.col-md-2 {
color: #FFF;
	background-color: #06DCFB;
	border-left: thick solid #06DCFB;

}

#subject2_3.col-md-2 {
	color: #FFF;
	border-left: thick solid #06DCFB;

}


#subject_4.col-md-10 {

    border-left: thick solid #FF62B0;
    border-bottom: thick solid #FF62B0;
}

#subject_4.col-md-2 {
color: #FFF;
	background-color: #FF62B0;
	border-left: thick solid #FF62B0;

}

#subject2_4.col-md-2 {
	color: #FFF;
	border-left: thick solid #FF62B0;

}


#standards.btn-info {
	background-color: #ff8000;
	color: #FFF;
}


#standards.btn-info:hover {
	background-color: #ff9d3b;
	color: #FFF;
}

#lesson_sidebar.list-group {
	.list-group-item {
	background-color: #FF8243;
	color: #FFF;
	}
	.active.list-group-item {
	background-color: #4391ff !important;
	color: #FFF;
	}
	.disabled.list-group-item {
	background-color: #A8A8A8 !important;
	color: #FFF;
	}
	.disabled.list-group-item:hover {
	background-color: #A8A8A8 !important;
	color: #FFF;
	}
	.active {
	background-color: #4391ff !important;
	color: #FFF;
	}
	.list-group-item.active:hover {
	background-color: #4391ff;
	color: #FFF;
	}
	.list-group-item:hover {
	background-color: #ffb143;
	color: #FFF;
	}
}


#notes.panel-warning {
	background-color: #82b3e7;
	color: #FFF;
	padding-bottom: 0px;
	border-color: #82b3e7;
	font-size: 25px;
	text-align: center;
}

#xquestion a:hover {
	text-decoration: none;
}

#xvocab a:hover {
	text-decoration: none;
}

#xlink a:hover {
	text-decoration: none;
}

#xskill a:hover {
	text-decoration: none;
}

#xstrategy a:hover {
	text-decoration: none;
}

#xaquestion a:hover {
	text-decoration: none;
}

#resource_id {
	background-color: #49E9BD;
	color: #FFF;
	text-align: center;
}


#setup.panel-warning {
-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 19px;
  background: #008bc6;
  padding: 5px 30px 5px 30px;
  border: solid #000000 0px;
  text-decoration: none;
}


#notes.panel-warning {
	background-color: #b19cd9;
	color: #fff;
	border-color: #b19cd9;
	text-align: center;
}

#notes.btn-warning {
	background-color: #b19cd9;
	color: #fff;
}


#notes.btn-warning:hover {
	background-color: #fdfd96;
	color: #b19cd9;
}

.form-group.check_boxes {
	padding-bottom: 0px;
	padding: 0px;
	padding-top: 0px;
}

#plan.row {
	background-color: #F2F2F2;
}

#allfields {
	display:inline;
}

#list ul
{
list-style-type: none;
}

#allfields a {
	text-decoration: none;
}

#list {
  height:290px;
  overflow-y:auto;
    width:100%;
  overflow-x:hidden;
  background-color: #fff;
}


#plan.panel-heading {
	background-color: #00b7be;
	color: #fff;
	text-align: center;
	border: #00b7be;
	font-size: 20px;
	
}
#plan.panel-title {
	background-color: #00b7be;
	color: #fff;
	text-align: center;
	border: #00b7be;
	font-size: 15px;
	
}

.panel-warning {
	border-color: #00b7be;
}

#plan.panel-warning {
	background-color: #00b7be;
	text-align: center;
	color: #fff;
}

#navigation.nav-pills.nav-justified a {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 19px;
  background: #262626;
  padding: 5px 30px 5px 30px;
  border: solid #000000 0px;
  text-decoration: none;

}

#navigation.nav-pills.nav-justified li .active {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 19px;
  background: #008bc6;
  padding: 5px 30px 5px 30px;
  border: solid #000000 0px;
  text-decoration: none;
}

#navigation.nav-pills.nav-justified li{
	padding-left: 10px;
	padding-right: 10px;
}

#title.list-group-item {
-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #000;
  font-size: 16px;
  background: #E0E0E0;
  padding: 5px 30px 5px 30px;
  border: solid #000000 0px;
  text-decoration: none;
  margin-bottom: 2px;
  }

#builder.btn-primary {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 19px;
  background: #008bc6;
  padding: 5px 30px 5px 30px;
  border: solid #000000 0px;
  text-decoration: none;
}

#builder.btn-primary:hover {
	background-color: #49E9BD;
}

#inline {
	display: inline;
}

#book-preview.col-md-8 {
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #E0E0E0;
}

#standard.book {
	background-color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
	margin-left: 20px;
}

#question_stems h4 {
	color: #fff;	

}

