// Place all the styles related to the Standards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

#sidebar.panel-body {
   background-color: rgba(245, 245, 245, 1);
}

#subject.list-group-item {
	background-color: #2F81D7;
	color: #FFF;
	border-color: #FFF;


}

#standards.well {
	   background-color: rgba(245, 245, 245, 0.4);
	
}

#grade.list-group-item {
	background-color: #82b3e7;
	color: #FFF;
	border-color: #FFF;

}

.list-group-item:hover {
  background-color: #0e2640 !important;
}
