// Place all the styles related to the Standards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "flat-ui";

#sidebar.panel-body {
   background-color: rgba(245, 245, 245, 1);
}

#subject.list-group-item {
	background-color: #2F81D7;
	color: #FFF;
	border-color: #FFF;


}

#standards.well {
	   background-color: rgba(245, 245, 245, 0.4);
	
}

#grade.list-group-item {
	background-color: #82b3e7;
	color: #FFF;
	border-color: #FFF;
  font-size:17px;

}

#subject.list-group-item:hover {
  background-color: #0e2640 !important;
  color: #FFF !important;
}

#grade.list-group-item:hover {
  background-color: #2F81D7 !important;
  color: #FFF !important;
}

#standard-hover.list-group-item:hover {
  background-color: #82b3e7 !important;
  color: #FFF !important;
}

#standard-hover.list-group-item.active {
  background-color: #82b3e7 !important;
  color: #fff !important;
}

#standard-hover.list-group-item {
  background-color: #2F81D7 !important;
  color: #000 !important;
  border-color:#000;
}

#succ_standard{
.active a {
	background-color: #82b3e7 !important;
	color: #FFF;
}



 li {
    border-style: solid;
    border-width: 2px;
    border-color: #82b3e7;


}

h4 {
	text-align: center;

}
}

#standard-attributes{
.panel-default {
	.panel-heading{
 background-color: #82b3e7 !important;
  color: #FFF !important;
  }
  .active a {
	background-color: #82b3e7 !important;
	color: #FFF;
}
  }
}

.highlight a {

	background-color: #82b3e7 !important;
	color: #FFF;
}

#standard-options {
a {
	color: #FFF;
	}
}

.standard-list-group-item {
	background-color: #82b3e7;
	color: #FFF;
	border-color: #FFF;

}

#source.list-group-item {
  background-color: #0e2640 !important;
  color: #FFF !important;
}

#source.list-group-item:hover {
  background-color: #2F81D7 !important;
  color: #FFF !important;
}

.standard-content {
  background-color:#E9E9E9;
  height:100%;
}

#standards-list.row {
  background-color: #E9E9E9;
  padding:2px;
  border-style: solid;
  border-width: 2px;
  border-color:#fff;
  vertical-align: middle;
}

#standards-list.new_row {
  background-color: #E9E9E9;
  padding:2px;
  border-style: solid;
  border-width: 2px;
  border-color:#fff;
  vertical-align: middle;
}
#standards-list.btn-primary {
  background-color: #0e2640;
  width: 100%;
  text-align:left;
}

#standards-list.btn-primary.active {
  background-color: #000;
  width: 100%;
}

#standards_page {
  background-color:#fff;
  padding:10px;
}

.border a {
color:#000;
  background-color:#E9E9E9;
  
  border-style: solid;
    border-width: 2px;
    border-color:#fff;
}

#related{
 a {
    border-style: solid;
    border-width: 2px;
    border-color:#fff;
    background-color: #E9E9E9;
    color:#000;

}
}

#succ_standard{
 a {
    border-style: solid;
    border-width: 2px;
    border-color:#fff;
    background-color: #E9E9E9;
    color:#000;

}
}

.standard_id {
  background-color: #E9E9E9;
  padding:2px;
  border-style: solid;
  border-width: 2px;
  border-color:#fff;
  vertical-align: middle;
}

#black_link a { 
color:#0e2640;
}

