// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#right {
	height: 100px;
}

.login {
	height: 50px;
	background-color: #F3F8FC;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	color: #008bc6;
}

.signup {
	height: 100%;
	background-color: #ABD8EF;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	color: #FFF;
}

.header{
	width:100%;
	background-color:#fff;
	margin-bottom:0px;
	margin:0px;
}


