// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lessons .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-size: 14px;
    padding: 6px;
    border: 1px solid #2F81D7;
  }

  th {
    background: #2F81D7;
    color: #FFF;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #2F81D7;
    height: 80px;
    vertical-align: top;
    font-size: 12px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #fdfd96; }
}

#lessons #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
}

#lessons .nav-pills a {
	background-color: #2F81D7;
	color: #FFF;

}
#lessons .nav-pills a:hover {
	background-color: #82b3e7;
	color: #FFF;
}

