<fieldset>
<div class="form-inputs">
  <%= f.input :comment, :input_html => {:rows => 2} %><br/>
  <%= f.input :link, :input_html => {:rows => 2} %><br/>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove" %>
</div>
</fieldset>