<div class="animated fadeInDown">
<fieldset>
<div class="form-inputs">
  <%= f.input :comment, :input_html => {:rows => 2} %>
  <%= f.input :link, :input_html => {:rows => 2} %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove" %>
</div>
</fieldset>
</div>