<div id="standard-options">
<h4 class="panel-title">
<% link_to '<i class="glyphicon glyphicon-chevron-left"></i> '.html_safe, standards_path, remote: :true, class: "btn btn-info btn-sm" %>
</div>

<div class="panel-body">
   <div class="list-group">

<% if @subject.try(:id) != nil %>

<% Standard.where(:subject_id => @subject.id).where(:grade_id => @grade.id).order("standard_id ASC").each do |standard| %>

<%= link_to "#{standard.id}: #{standard.content}", standard_path(standard, :subject_id => @subject.id, :grade_id => @grade.id), class: "list-group-item", id: "standard-hover", remote: :true, :locals => {:standard => standard} %>

<% end %>

<% else %>
<% Standard.where(:subsubject_id => @subject2.id).where(:grade_id => @grade.id).order("standard_id ASC").each do |standard| %>
<%= link_to "#{standard.id}: #{standard.content}", standard_path(standard, :subject2_id => @subject2.id, :grade_id => @grade.id), class: "list-group-item", id: "standard-hover", remote: :true, :locals => {:standard => standard} %>
<% end %>


<% end %>

</div>
</div>
</h4>
