<div class="row">
  <div class="col-md-3">
  <div class="animated slideInLeft">
<%= render 'sidebar' %></div></div>
  <div class="col-md-9">
<div id="standards"></div><div id="search">
<div class="animated bounceInLeft">
<center>
<div class="well" id="standards">Select Common Core standards from the left to view content.</p>
</center>
</div>
</div>
</div>
</div>
