<div class="row">
  <div class="col-md-3">
  <div class="animated slideInLeft">
<%= render 'sidebar' %></div></div>
  <div class="col-md-9">
<div id="standards"></div>
</div>
</div>

<script>

setTimeout(function() {
  $("#myModal").modal('show') 
  $("#modal-window").html("<%= escape_javascript(render 'standard_note') %>");
}, 1000);
</script>