<div id="standards"></div><div id="search">

  <hr>
<br/>

<% @standards.each do |standard| %>

<div class="animated fadeInUp">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
    <div align="left"><%= standard.id %></div></h3>
  </div>
  <div class="panel-body">
    <%= standard.content %>
    <div align="right">
    <%= link_to "View Standard", standard_path(standard), remote: true, class: "btn btn-default btn-xs" %>
    </div>
  </div>

</div>
</div>


<% end %>
<div align="right">
<%= will_paginate @standards %>
</div>
</div>
